<div class="auth">
    <div class="auth_block">
        <div class="auth_block_name-style">{{auctionName}}</div>
        <div>
            <input pInputText type="text"
                   [(ngModel)]="username"
                   [placeholder]="usernamePlaceholder"
                   class="auth_block_input-style">
            <input pPassword type="password"
                   [(ngModel)]="password"
                   [placeholder]="passwordPlaceholder"
                   class="auth_block_input-style"
                   [feedback]="false"
            >
        </div>
        <div>
            <p-message
                    [ngStyle]="{'opacity': visibleError ? '1' : '0'}"
                    style="padding-left: 16%"
                    [severity]="'error'"
                    [text]="errorMessage"
            ></p-message>
        </div>
        <div style="padding-left: 28%; padding-top: 10px">
            <button pButton type="button" (click)="onSignIn()" [label]="signIn" class="ui-button-warning"></button>
            <button pButton type="button" (click)="onLogout()" [label]="signUp" class="ui-button-warning"></button>
        </div>
    </div>
</div>
